<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
  <div class="container">
    <h1>Le nouveau lieu dédié au eSport, au divertissement et à l'univers digital à Lausanne</h1>
    <a class="btn btn-flat" href="#">Apply now</a>
  </div>
</div>

<!--  Block 1 -->

<div class="home-block" style="background: #2B96E5">
  <div class="row m-pages-vertical-align">
    <div class="col-xs-12 col-md-6" style="background-color: blue">
    </div>
    <div class="col-xs-12 col-md-6" >
      <div class="home-block-text">
        <h2> Nos services</h2>
        <hr class="hidden-xs hidden-sm">
        <p class="mt1"> Les meilleures consoles de jeux-vidéo, des tournois organisés, du sport et eSport à la demande et tout ça dans un cadre unique à couper le souffle !</p>
      </div>
      <div class="home-block-button">
        <button class="mt2"> Nos services </button>
      </div>
      </div>
    </div>
  </div>
</div>

<style>

  .home-block {
    padding: 64px 48px;
    color: white;
    min-height: 400px;
  }

  .home-block hr {
    border-top: 4px solid white;
    max-width: 50px;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 0;
  }

  .home-block-text {
    max-width: 640px;
    margin: auto;
    padding-left: 84px;
    padding-right: 84px;
  }

  .home-block-button {
    padding-left: 84px;
    margin-top: 20px;
  }

  .home-block-button button {
    border-radius: 8px;
    padding: 8px 20px;
  }

</style>
