<div class="page-block">
  <div class="row" style="width: 100%;">
    <div class="col-md-6 block-section" style="background: #FF899A">
      <div class="text-section">
        <h1>Nous avons besoin de toi</h1>
        <p>Ce projet nous tiens à coeur et, pour pouvoir le concrétiser, nous avons besoin de ton aide. <br><br>
        Si tu aimes notre concept et que tu veux voir notre établissement ouvrir à Lausanne, il te suffit de nous soutenir en cliquant sur la contrepartie que tu préfères. <br><br>
        N'oublies pas, même les petits montants aident et chaque contribution apportera une pierre à l'édifice pour accueillir les 160 000 joueurs et amateurs de Lausanne.
        <br><br>
        Nous te serons éternellement reconnaissant pour ton soutien et ta participation, en espérant te voir vite chez Gamins !
        <br><br>
        Merci <br><br>
        Sat & Seb</p>

        <%#= image_tag "bg-image.jpg", height: 500 %>

      </div>
    </div>
    <div class="block-section col-md-6 img-section" style="background-image: url(<%= image_path "img1.jpg"%>)"></div>
  </div>
</div>

<!-- section 2 -->

<div class="page-block">
  <div class="row" style="width: 100%;">
    <div class="block-section col-md-6 img-section" style="background-image: url(<%= image_path "img1.jpg"%>)"></div>
    <div class="col-md-6 block-section" style="background: #7B74E9">
      <div class="text-section">
        <h1>Pourquoi participer ?</h1>
        <p>Tout d'abord, c'est une occasion unique pour toi de participer au développement de l'industrie du divertissement et du eSport à Lausanne. Si toi aussi tu as envie de voir un espace créé par des jeunes, pour des jeunes ouvrir à Lausanne, fonce !</p>
        <p>En plus de ça, tu réaliserai une bonne action en soutenant deux jeunes entrepreneurs en quête de succès, et ils te le rendront bien !</p>
        <p>Tu pourras enfin venir jouer avec tes potes pendant des heures, en dégustant des produits excellents et en sirotant les meilleures bières du pays !</p>
        <p>Tu bénéficieras de nos récompenses soigneusement définie !</p>
        <p>Tu auras ton nom gravé dans nos coeurs, mais aussi chez Gamins !</p>
        <p>Tu auras participé à la création de ce lieu magique et nous ne pourrons jamais assez te remercier...</p>
      </div>
    </div>
  </div>
</div>

<!-- section 3 -->

<div class="page-block">
  <div class="row" style="width: 100%;">
    <div class="col-md-6 block-section" style="background: #4F4ACF">
      <div class="text-section">
        <h1>Pourquoi participer ?</h1>
        <p>Tout d'abord, c'est une occasion unique pour toi de participer au développement de l'industrie du divertissement et du eSport à Lausanne. Si toi aussi tu as envie de voir un espace créé par des jeunes, pour des jeunes ouvrir à Lausanne, fonce !</p>
        <p>En plus de ça, tu réaliserai une bonne action en soutenant deux jeunes entrepreneurs en quête de succès, et ils te le rendront bien !</p>
        <p>Tu pourras enfin venir jouer avec tes potes pendant des heures, en dégustant des produits excellents et en sirotant les meilleures bières du pays !</p>
        <p>Tu bénéficieras de nos récompenses soigneusement définie !</p>
        <p>Tu auras ton nom gravé dans nos coeurs, mais aussi chez Gamins !</p>
        <p>Tu auras participé à la création de ce lieu magique et nous ne pourrons jamais assez te remercier...</p>
      </div>
    </div>

    <div class="block-section col-md-6 img-section" style="background-image: url(<%= image_path "img1.jpg"%>)"></div>
  </div>
</div>

<!-- section 4 -->

<div class="page-block">
  <div class="row" style="width: 100%;">
    <div class="block-section col-md-6 img-section" style="background-image: url(<%= image_path "img1.jpg"%>)"></div>
    <div class="col-md-6 block-section" style="background: #FFEC53">
      <div class="text-section">
        <h1>Pourquoi participer ?</h1>
        <p>Tout d'abord, c'est une occasion unique pour toi de participer au développement de l'industrie du divertissement et du eSport à Lausanne. Si toi aussi tu as envie de voir un espace créé par des jeunes, pour des jeunes ouvrir à Lausanne, fonce !</p>
        <p>En plus de ça, tu réaliserai une bonne action en soutenant deux jeunes entrepreneurs en quête de succès, et ils te le rendront bien !</p>
        <p>Tu pourras enfin venir jouer avec tes potes pendant des heures, en dégustant des produits excellents et en sirotant les meilleures bières du pays !</p>
        <p>Tu bénéficieras de nos récompenses soigneusement définie !</p>
        <p>Tu auras ton nom gravé dans nos coeurs, mais aussi chez Gamins !</p>
        <p>Tu auras participé à la création de ce lieu magique et nous ne pourrons jamais assez te remercier...</p>
      </div>
    </div>
  </div>
</div>



<style>
  .page-block {
    display: flex;
    min-height: 85vh;
  }

/*  .block-section {
    width: 50%;
  }*/

  .text-section {
    padding: 50px 60px;
  }
</style>
